<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
</head>
<body>
	<header th:insert="fragments :: nav"></header>

	<div class="container">
		<h1>Listado de vehículos</h1>
		<br>
		<div>
			<table class="table table-striped text-center">
				<thead>
					<tr>
						<th>Placa</th>
						<th>Marca</th>
						<th>Modelo</th>
						<th>Estado</th>
						<th>Ver</th>
						<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
						<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="inventarioVehiculo : ${list}">
						<td th:text="${inventarioVehiculo.placa}"></td>
						<td th:text="${inventarioVehiculo.marcaVehiculoId.marca}"></td>
						<td th:text="${inventarioVehiculo.modelo}"></td>
						<td th:text="${inventarioVehiculo.estadoVehiculoId.estVehiculo}"></td>
						<td><a th:href="@{'/inventariovehiculo/detalle/' + ${inventarioVehiculo.inventarioVehiculoId}}"><button
									class="btn btn-outline-primary">
									<i class="far fa-eye"></i>
								</button></a></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:href="@{'/inventariovehiculo/editar/' + ${inventarioVehiculo.inventarioVehiculoId}}"><button
									class="btn btn-outline-warning">
									<i class="far fa-edit"></i>
								</button></a></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:href="@{'/inventariovehiculo/borrar/' + ${inventarioVehiculo.inventarioVehiculoId}}"><button
									class="btn btn-outline-danger">
									<i class="far fa-trash-alt"></i>
								</button></a></td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<nav aria-label="Pagination">
						<ul class="pagination justify-content-center">
							<li class="page-item"
								th:class="${page.first? 'page-item disabled': 'page-item'}"><span
								class="page-link" th:if="${page.first}">Primera</span> <a
								class="page-link" th:if="${not page.first}"
								th:href="@{${page.url}(page=0)}">Primera</a></li>


							<li class="page-item"
								th:class="${not page.hasPrevious? 'page-item disabled': 'page-item'}">
								<span class="page-link" th:if="${not page.hasPrevious}">&laquo;</span>
								<a class="page-link" th:if="${page.hasPrevious}"
								th:href="@{${page.url}(page=${page.paginaActual-2})}">&laquo;</a>
							</li>

							<li class="page-item" th:each="item : ${page.paginas}"
								th:class="${item.actual? 'page-item active': 'page-item'}"><span
								class="page-link" th:if="${item.actual}"
								th:text="${item.numero}"></span> <a class="page-link"
								th:if="${not item.actual}"
								th:href="@{${page.url}(page=${item.numero-1})}"
								th:text="${item.numero}"></a></li>


							<li class="page-item"
								th:class="${not page.hasNext? 'page-item disabled': 'page-item'}">
								<span class="page-link" th:if="${not page.hasNext}">&raquo;</span>
								<a class="page-link" th:if="${page.hasNext}"
								th:href="@{${page.url}(page=${page.paginaActual})}">&raquo;</a>
							</li>

							<li class="page-item"
								th:class="${page.last? 'page-item disabled': 'page-item'}"><span
								class="page-link" th:if="${page.last}">&Uacute;ltima</span> <a
								class="page-link" th:if="${not page.last}"
								th:href="@{${page.url}(page=${page.totalPaginas-1})}">&Uacute;ltima</a>
							</li>
						</ul>
					</nav>
				</div>
				<a sec:authorize="hasRole('ROLE_ADMIN')"
					th:href="@{/inventariovehiculo/nuevo}">
					<button class="btn btn-outline-success btn-lg">
						<i class="fas fa-plus-circle"></i>Nueva Estado de vehículo
					</button>
				</a>
				<div class="col-md-2"></div>

			</div>

		</div>
	</div>

	<footer th:insert="fragments :: footer"></footer>
	<div th:insert="fragments :: scripts"></div>
</body>
</html>