<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


</head>
<style>
.form-group.row .form-control-label:after {
	color: #d00;
	content: "*";
	position: absolute;
	margin-left: 8px;
	top: 7px;
}
</style>
<body>
	<header th:insert="fragments :: nav"></header>

	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<span class="anchor" id="formAreaEdit"></span>
				<!-- form user info -->
				<div class="card card-outline-secondary">
					<div class="card-header">
						<h3 class="mb-0">Nuevo Vehiculo</h3>
					</div>
					<div class="card-body">
						<form th:action="@{/inventariovehiculo/guardar}" method="post">
							<!-- control ataque csrf -->
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}">
							<!-- fin control ataque csrf -->
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Placa</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="placa" name="placa"
										required="required" autocomplete="off">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Asignacion</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="asignacion"
										name="asignacion" required="required" autocomplete="off">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Marca
								</label>
								<div class="col-lg-9">
									<select id="marcaVehiculoId" class="form-control"
										name="marcaVehiculoId">
										<option th:each="marcaVehiculo : ${marcaVehiculo}"
											th:value="${marcaVehiculo.marcaVehiculoId}"
											th:text="${marcaVehiculo.marca}" />

									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Modelo</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="modelo"
										name="modelo" required="required" autocomplete="off">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Año</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="anho" name="anho"
										required="required" autocomplete="off">
								</div>
							</div>

							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Clase
								</label>
								<div class="col-lg-9">
									<select id="claseVehiculoId" class="form-control"
										name="claseVehiculoId">
										<option th:each="claseVehiculo : ${claseVehiculo}"
											th:value="${claseVehiculo.claseVehiculoId}"
											th:text="${claseVehiculo.clase}" />
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Numero
									de Motor</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="numeroMotor"
										name="numeroMotor" required="required" autocomplete="off">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Numero
									de Chasis</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="numeroChasis"
										name="numeroChasis" required="required" autocomplete="off">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Numero
									VIN</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="numeroVin"
										name="numeroVin" required="required" autocomplete="off">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Tipo
									/ Ass.</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="tipoAsientos"
										name="tipoAsientos" required="required" autocomplete="off">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Color.</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="color" name="color"
										required="required" autocomplete="off">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Descripcion.</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="descripcion"
										name="descripcion" required="required" autocomplete="off">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label control-label">Traccion.</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="traccion"
										name="traccion">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Capacidad.</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="capacidad"
										name="capacidad" required="required">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Combustible.</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="combustible"
										name="combustible" required="required">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Estado
								</label>
								<div class="col-lg-9">
									<select id="estadoVehiculoId" class="form-control"
										name="estadoVehiculoId">
										<option th:each="estadoVehiculo : ${estadoVehiculo}"
											th:value="${estadoVehiculo.estadoVehiculoId}"
											th:text="${estadoVehiculo.estVehiculo}" />
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label control-label">Utilizado
									Por:</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="utilizadoPor"
										name="utilizadoPor">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label control-label"></label>
								<div class="col-lg-9">
									<button type="submit"
										class="col-lg-3 btn btn-outline-success btn-block">
										<i class="far fa-save"></i> Guardar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /form user info -->
				<a th:href="@{/inventariovehiculo/lista}"
					style="text-decoration: none;"><button
						class="col-lg-3 btn btn-outline-info">
						<i class="fas fa-arrow-circle-left"></i> Volver
					</button></a>

				<div th:if="${error}"
					class="alert alert-danger alert-dismissible fade show mt-2"
					role="alert">
					<p th:text="${error}"></p>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<footer th:insert="fragments :: footer"></footer>
	<div th:insert="fragments :: scripts"></div>
</body>
</html>
