<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<header th:insert="fragments :: nav"></header>

	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<span class="anchor" id="formAreaEdit"></span>
				<!-- form user info -->
				<div class="card card-outline-secondary">
					<div class="card-header">
						<h3 class="mb-0">Información de la Categoría</h3>
					</div>
					<div class="card-body">
						<form th:action="@{/solicitudcategoria/actualizar}" method="post">
						<input type="hidden" name="solicCateId" id="solicCateId" th:value="${sociliCategoria.solicCateId}">
							<!-- control ataque csrf -->
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}">
							<!-- fin control ataque csrf -->
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Categoría</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" id="categoria"
										name="categoria" required="required" autocomplete="off" th:value="${sociliCategoria.categoria}">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label control-label"></label>
								<div class="col-lg-9">
									<button type="submit"
										class="col-lg-3 btn btn-outline-success btn-block">
										<i class="far fa-save"></i> Actualizar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /form user info -->
				<a th:href="@{/solicitudcategoria/lista}" style="text-decoration: none;"><button
						class="col-lg-3 btn btn-outline-info">
						<i class="fas fa-arrow-circle-left"></i> Volver
					</button></a>

				<div th:if="${error}"
					class="alert alert-danger alert-dismissible fade show mt-2"
					role="alert">
					<p th:text="${error}"></p>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<footer th:insert="fragments :: footer"></footer>
	<div th:insert="fragments :: scripts"></div>
</body>
</html>
