<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--   -->
<head th:fragment="headerfiles">
<title>Corsatur</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
	<div th:fragment="nav">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
			<a class="navbar-brand" th:href="@{/}">CORSATUR</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">

					<li class="nav-item active"
						sec:authorize="isAuthenticated() && !hasRole('ROLE_ADMIN')"><a
						class="nav-link" th:href="@{/area/lista}"> <i
							class="far fa-list-alt"></i> Lista
					</a></li>
					<li class="nav-item dropdown active"
						sec:authorize="hasRole('ROLE_ADMIN')"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <i class="fas fa-toolbox"></i> Admin.
							Activo Fijo
					</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/area/lista}"> <i
								class="far fa-list-alt"></i> Lista de Areas
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/empleado/lista}"> <i
								class="far fa-list-alt"></i> Lista de Empleados
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/categoria/lista}"> <i
								class="far fa-list-alt"></i> Lista de Categorias
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/tipo/lista}"> <i
								class="far fa-list-alt"></i> Lista de Tipo por Categorias
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/hacienda/lista}"> <i
								class="far fa-list-alt"></i> Codigos de Hacienda
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/inventario/lista}"> <i
								class="far fa-list-alt"></i> Inventario
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/asignacion/lista}"> <i
								class="far fa-list-alt"></i> Asignaciones de Inventrios
							</a>
						</div></li>
					<li class="nav-item dropdown active"
						sec:authorize="hasRole('ROLE_ADMIN')"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <i class="fas fa-toolbox"></i> Admin.
							HelpDesk
					</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/solicitudcategoria/lista}">
								<i class="far fa-list-alt"></i> Lista de Categorias
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/solicitud/lista}"> <i
								class="far fa-list-alt"></i> Lista Solicitudes
							</a>
						</div></li>
					<li class="nav-item dropdown active"
						sec:authorize="hasRole('ROLE_ADMIN')"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <i class="fas fa-toolbox"></i> Admin.
							Transporte
					</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/clasevehiculo/lista}">
								<i class="far fa-list-alt"></i> Clase de Vehiculo
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/marcavehiculo/lista}"> <i
								class="far fa-list-alt"></i> Marca de Vehiculo
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/estadovehiculo/lista}"> <i
								class="far fa-list-alt"></i> Estado de Vehiculo
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/inventariovehiculo/lista}"> <i
								class="far fa-list-alt"></i> Inventario de Vehiculo
							</a>
						</div></li>

				</ul>

				<a th:href="@{/login}" sec:authorize="!isAuthenticated()"><button
						class="btn btn-outline-success my-2 my-sm-0" type="submit">
						<i class="fas fa-sign-in-alt"></i> Iniciar Sesión
					</button></a>

				<form sec:authorize="isAuthenticated()"
					class="form-inline my-2 my-lg-0" th:action="@{/logout}"
					method="post">
					<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
						<i class="fas fa-sign-out-alt"></i> Cerrar Sesión
					</button>
				</form>

			</div>
		</nav>
	</div>


</body>
<footer class="sticky-footer bg-white" th:fragment="footer">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span>Copyright &copy; Corporacion Salvadoreña de Turismo 2021</span>
		</div>
	</div>
</footer>
<div th:fragment="scripts">
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}" ></script>
		<script th:src="@{/js/all.min.js}"></script>
</div>
</html>